torch>1.0.0
tqdm
dicom2nifti
scikit-image>=0.14
medpy~=0.5.2
scipy~=1.15.2
batchgenerators>=0.19.4
numpy~=2.2.4
scikit-learn~=1.6.1
SimpleITK~=2.4.1
pandas~=2.2.3

argparse~=1.4.0
opencv-python~=4.11.0.86